<h1>{{title}}</h1>

<nav> 
    <a routerLink = "/home">Home</a> 
    <a routerLink = "/aboutus">About Us </a> 
 </nav> 
 <router-outlet></router-outlet>
    <select>
        <option *ngFor="let i of department">{{i}}</option> 
    </select>
<div>
    <span 
        *ngIf="isAvailable; then condition1 else condition2">condition is valid
    </span>
        <ng-template #condition1>condition1 is valid </ng-template>
        <ng-template #condition2>condition2 is valid </ng-template>
</div>
<h2>{{title | lowercase}}</h2>
<h2>{{title | uppercase}}</h2>
<h2>{{10 | currency:"INR"}}</h2>
<h2>{{10 | currency:"USD"}}</h2>
<button 
    (click)="myclick($event)">submit
</button>
<h5>{{todayDate | date:"d/m/y"}}</h5>
<h5>{{todayDate | date:"shortTime"}}</h5>
<app-home></app-home>